body {
    background-color: #D9291C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 80%;
    max-width: 1000px;
    transform: scale(0.75);
    flex-direction: row;
}
.image-section {
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 50%;
}
.card {
    border: none;
    border-radius: 8px;
    width: 50%;
    height: 100%;
    padding: 20px;
}
.h1,
.h3 {
    margin-bottom: 15px;
}
.form-group {
    margin-bottom: 15px;
}
.btn {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
    background-color: #FFB81C;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #FFA500;
}
.text-center a {
    color: #777;
}
.form-control {
    width: 100%;
}