<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Ticketing System</title>
    <link href='https://fonts.googleapis.com/css?family=Jomhuria' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<body>

<!-- Navigation Bar -->
    <nav class="navbar">
	  <img src="../../assets/images/systemicon.png" alt="systemIcon" class="Ticketing System Icon"> 
    <div class="title">IT Ticketing System</div>
    <div class="buttons">
        <a (click)="logout()"><img src="../../assets/images/exitIcon.png" class="exitIcon" alt="Exit Icon"></a>
    </div>
  </nav>

<!--Left Container for Profile, Dashboard and History-->   
    <div class="leftcontainer">
      <div class="profile-container">
      <img src="../../assets/images/tempprofile.png" alt="Profile" class="tempprofile">
      <div class="userdata">
        <h4>{{ user?.firstName }} {{ user?.lastName }}</h4>
        <h4>{{ user?.role }}</h4>
      </div>
    </div>
    <div class="line-division"></div>
    <div class="buttons-nav">
      <a onclick="window.location.href='/userdashboard'">
          <img src="../../assets/images/dashboardButton.png" class="dashboard" alt="Dashboard">
      </a>
      <a onclick="window.location.href='/userhistory'">
          <img src="../../assets/images/historyButton.png" class="history" alt="History">
      </a>
  </div>  
  </div>

    <!-- (logo)All Tickets(Title) - (Buttton)AddTicket - (Button)Filter - (Searchbar)-->  
	   
			<table class="rightcontainer">
        <tr>
        <td class="title-container">
          <img src="../../assets/images/history.png" alt="History" class="history">
        </td>
        <td class="filter-container">
          <button class="invisible-button modal-buttons" (click)="displayModal('Filter-form-container')" data-modal="Filter-form-container">
            <img src="../../assets/images/filterButton.png" class="filterButton" alt="Filter">
          </button>
        </td>
        <td class="search-container">
            <input type="text" class="search" id="search" placeholder="Search technician email here..." [(ngModel)]="searchTechnicianEmail" (input)="applySearch()" style="width: 454px; height: 50px;">
        </td>
        </tr>
      </table>

    <!-- table for tickets-->
    <div class="cont-tickets">
      <table>
          <tr>
            <th class="color-priority"></th>
            <th>Priority</th>
            <th>Category</th>
            <th>Status</th>
            <th>Date Created</th>
            <th>Date Resolved</th>
            <th>Requester</th>
            <th>Technician</th>
            <th></th>
            </tr>
        </table>
        <table class="tickets">
          <tr *ngFor="let ticket of filteredTickets"  (click)="showTicketDetails(ticket.id)" >
            <td [ngClass]="getPriorityColor(ticket.priority)"></td>
            <td class="priority">{{ ticket.priority }}</td>
            <td>{{ ticket.category }}</td>
            <td>{{ ticket.status }}</td>
            <td>{{ ticket.dateCreated }}</td>
            <td>{{ ticket.dateResolved }}</td>
            <td>{{ ticket.student.email }}</td>
            <td>
              <span *ngIf="ticket.technician?.email; else unassigned">{{ ticket.technician.email }}</span>
              <ng-template #unassigned>Unassigned</ng-template>
            </td>
            <td>
              <button class="vertical-ellipsis-button" data-modal="update-form-container" (click)="displayUpdateModal($event)">
                <span class="ellipsis">...</span>
              </button>
              <!-- <button (click)="showTicketDetails(ticket)">View Details</button> -->
            </td>
          </tr>
        </table>
    </div>

    <!--Ticket Details-->
    <div *ngIf="showTicketDetailsModal" (click)="closeOnOutsideClick($event, 'ticket-details-container')" id="ticket-details-container" class="modal">
      <div class="modal-content" (click)="$event.stopPropagation()">
          <span class="close" (click)="closeModal('ticket-details-container')">&times;</span>
          <h1 class="form-title">Ticket Details</h1>
          <h4 class="form-title2">Comprehensive information about the ticket.</h4>
          <form class="form">
            <div class="form-row">
                <div class="form-col">
                  <label class="form-label" for="subject">Subject:</label>
                  <input class="form-input" type="text" id="subject" name="subject" [value]="selectedTicket?.title" readonly>
                </div>
                <div class="form-col">
                  <label class="form-label" for="date-created">Date Created:</label>
                  <input class="form-input" type="date" id="date-created" name="date-created" [value]="selectedTicket?.dateCreated" readonly>    
                </div>
              </div>
              <div class="form-row">
                <div class="form-col">
                <label class="form-label" for="category">Category:</label>
                <input class="form-input" type="text" id="category" name="category" [value]="selectedTicket?.category" readonly>
                </div>
                <div class="form-col">
                <label class="form-label" for="priority">Priority:</label>
                <input class="form-input" type="text" id="priority" name="priority" [value]="selectedTicket?.priority" readonly>
                </div>
              </div>
              <div class="form-row">
                <div class="form-col">
                  <label class="form-label" for="technician">Technician:</label>
                  <input class="form-input" type="text" id="technician" name="technician" [value]="(selectedTicket?.technician?.email || 'Unassigned')" readonly>
                </div>                      
                <div class="form-col">
                <label class="form-label" for="status">Status:</label>
                <input class="form-input" type="text" id="status" name="status" [value]="selectedTicket?.status" readonly>
                </div>
              </div>
              <div class="form-row">
                <label class="form-label" for="description">Description:</label>
                <textarea class="form-textarea" id="description" name="description" readonly>{{ selectedTicket?.description }}</textarea>
            </div>
          </form>
      </div>
    </div>

<!--Filter Form-->
<div *ngIf="showFilterModal" id="Filter-form-container" class="modal"  (click)="closeOnOutsideClick($event, 'Filter-form-container')">
  <div class="modal-content" (click)="$event.stopPropagation()">
      <span #filterModalContent class="close" (click)="closeModal('Filter-form-container')">&times;</span>
      <h1 class="form-title">Filter Tickets</h1>
      <h4 class="form-title2">Find the exact tickets you need quickly.</h4>
      <form class="form">
          <div class="form-row">
              <div class="form-col">
                <label class="form-label" for="category">Category:</label>
                <select class="form-select" id="category" name="category" [(ngModel)]="filterCategory">
                    <option value="select category">Select Category:</option>
                    <option value="Account Lockout">Account Lockout</option>
                    <option value="Network Problem">Network Problem</option>
                    <option value="Network Security Issue">Network Security Issue</option>
                    <option value="Hardware Issue">Hardware Issue</option>
                </select>
              </div>
              <div class="form-col">
                <label class="form-label" for="priority">Priority:</label>
                <select class="form-select" id="priority" name="priority" [(ngModel)]="filterPriority">
                    <option value="select subject">Select Priority:</option>
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>
              </div>
        </div>
        <!-- <div class="form-row">
            <div class="form-col">
              <label class="form-label" for="date-created">Date Created:</label>
              <input class="form-input" type="date" id="date-created" name="date-created" [(ngModel)]="filterDate">    
            </div>
        </div> -->
        <!-- <div class="form-row">
          <div class="form-col">
            <label class="form-label" for="status">Status:</label>
            <select class="form-select" id="status" name="status" [(ngModel)]="filterStatus">
                <option value="status type:">Select status:</option>
                <option value="Pending">Resolved</option>
                <option value="In progress">Rejected</option>
            </select>
          </div>
        </div> -->


        <button class="submit-button" type="button" (click)="applyFilter()">Filter Tickets</button>
        <button class="cancel-button" type="button" (click)="clearFilter()">Clear</button>
      </form>
  </div>
</div>

</body>
</html>
