<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Ticketing System</title>
    <link href='https://fonts.googleapis.com/css?family=Jomhuria' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<body>

<!-- Navigation Bar -->
    <nav class="navbar">
	  <img src="../../assets/images/systemicon.png" alt="systemIcon" class="Ticketing System Icon"> 
    <div class="title">IT Ticketing System</div>
    <div class="buttons">
		    <a href=""><img src="../../assets/images/bellIcon.png" class="bellIcon" alt="Bell Icon"></a>
        <a href=""><img src="../../assets/images/exitIcon.png" class="exitIcon" alt="Exit Icon"></a>
        <a href=""><img src="../../assets/images/userImage.png" class="userImage" alt="User Icon"></a>
    </div>
  </nav>

<!--Left Container for Profile, Dashboard and History-->   
    <div class="leftcontainer">
      <div class="profile-container">
      <img src="../../assets/images/tempprofile.png" alt="Profile" class="tempprofile">
      <div class="userdata">
        <h4>Adrian Oraya</h4>
        <h4>Student</h4>
      </div>
    </div>
    <div class="line-division"></div>
    <div class="buttons-nav">
      <a href="/user"><img src="../../assets/images/dashboardButton.png" class="dashboard" alt="Dashboard"></a>
      <a href="/userhistory"><img src="../../assets/images/historyButton.png" class="history" alt="History"></a>
    </div>
  </div>

    <!-- (logo)All Tickets(Title) - (Buttton)AddTicket - (Button)Filter - (Searchbar)-->  
	   
			<table class="rightcontainer">
        <tr>
        <td class="title-container">
          <img src="../../assets/images/history.png" alt="History" class="history">
        </td>
        <td class="filter-container">
          <a href=""><img src="../../assets/images/filterButton.png" class="filterButton" alt="Filter"></a>
        </td>
        <td class="search-container">
            <input type="text" id="search" placeholder="" style="width: 454px; height: 50px;">
          <button class="search-button red-button">Search</button>
        </td>
        </tr>
      </table>

    <!-- table for tickets-->
    <div class="cont-tickets">
      <table>
          <tr>
            <th class="color-priority"></th>
            <th>Priority</th>
            <th>Category</th>
            <th>Date Created</th>
            <th>Date Resolved</th>
            <th>Requester</th>
            <th>Technician</th>
            <th></th>
            </tr>
        </table>
          <table class="tickets">
            <tr *ngFor="let ticket of tickets"  (click)="displayModal('ticket-details-container')" >
              <td [ngClass]="getPriorityColor(ticket.priority)"></td>
              <td class="priority">{{ ticket.priority }}</td>
              <td>{{ ticket.category }}</td>
              <td>{{ ticket.dateCreated }}</td>
              <td>{{ ticket.dateResolved }}</td>
              <td>{{ ticket.student.email }}</td>
              <td>{{ ticket.technician.email }}</td>
              <td>
                <button class="vertical-ellipsis-button" data-modal="update-form-container" (click)="displayUpdateModal($event)">
                  <span class="ellipsis">...</span>
                </button>
                <!-- <button (click)="showTicketDetails(ticket)">View Details</button> -->
              </td>
            </tr>
          </table>
    </div>
</body>
</html>
