<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Ticketing System</title>
	  <link href='https://fonts.googleapis.com/css?family=Jomhuria' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href="userview.component.css" rel="stylesheet">
</head>
<body>
  <!-- Navigation Bar -->
  <nav class="navbar">
      <img src="../../assets/images/systemicon.png" alt="systemIcon" class="Ticketing System Icon">
      <div class="title">IT Ticketing System</div>
      <div class="buttons">
          <a href=""><img src="../../assets/images/bellIcon.png" class="bellIcon" alt="Bell Icon"></a>
          <a (click)="logout()"><img src="../../assets/images/exitIcon.png" class="exitIcon" alt="Exit Icon"></a>
          <a href=""><img src="../../assets/images/userImage.png" class="userImage" alt="User Icon"></a>
      </div>
  </nav>
  
  <!-- (logo)All Tickets(Title) - (Buttton)AddTicket - (Button)Filter - (Searchbar)-->
  <table class="rightcontainer">
      <tr>
          <td class="title-container">
              <img src="../../assets/images/allTickets.png" alt="All Tickets" class="allTickets">
          </td>
          <td class="filter-container">
            <button class="invisible-button modal-buttons"  (click)="displayModal('ticket-form-container')" data-modal="ticket-form-container">
              <img src="../../assets/images/addTicketButton.png" alt="addTicket">
            </button>
          </td>
          <td>
            <button class="invisible-button modal-buttons" (click)="displayModal('Filter-form-container')" data-modal="Filter-form-container">
              <img src="../../assets/images/filterButton.png" class="filterButton" alt="Filter">
            </button>
          </td>
          <td class="search-container">
            <input type="text" id="search" [(ngModel)]="searchTechnicianEmail" style="width: 300px; height: 50px;">
            <button class="search-button red-button" (click)="applySearch()">Search</button>
          </td>
      </tr>
  </table>
  

<!-- Add Ticket -->
<div *ngIf="showaddticketForm" id="ticket-form-container" class="modal"  (click)="closeOnOutsideClick($event, 'ticket-form-container')">
  <div class="modal-content" (click)="$event.stopPropagation()">
      <span class="close" (click)="closeModal('ticket-form-container')">&times;</span>
      <h1 class="form-title">Support Ticket Form</h1>
      <h4 class="form-title2">Create a new ticket for your issue.</h4>
      <form class="form" (ngSubmit)="addTicket()">
              <div class="form-row">
                  <label class="form-label" for="title">Subject:</label>
                  <select class="form-select" id="title" name="title" [(ngModel)]="title" required>
                      <option value="select subject">Select Subject:</option>
                      <option value="Blackboard Account failed log-in">Blackboard Account failed log-in</option>
                      <option value="Mymapua Account failed log-in">Mymapua Account failed log-in</option>
                      <option value="Wi-fi Connectivity Problem">Wi-fi Connectivity Problem</option>
                      <option value="Network Security Concern">Network Security Concern</option>
                      <option value="E-mail: Spam Filtering">E-mail: Spam Filtering</option>
                      <option value="E-mail: Security">E-mail: Security</option>
                      <option value="PC Malfunctioning">PC Malfunctioning</option>
                      <option value="Keyboard not working">Keyboard not working</option>
                      <option value="Monitor not turning on">Monitor not turning on</option>
                  </select>
              </div>
              <div class="form-row">
                <div class="form-col">
                <label class="form-label" for="category">Category:</label>
                <select class="form-select" id="category" name="category" [(ngModel)]="category" required>
                  <option value="select category">Select Category:</option>
                  <option value="Account Lockout">Account Lockout</option>
                  <option value="Network Problem">Network Problem</option>
                  <option value="Network Security Issue">Network Security Issue</option>
                  <option value="Hardware Issue">Hardware Issue</option>
                </select>
                </div>
                <div class="form-col">
                <label class="form-label" for="other">If Other:</label>
                <input class="form-input" type="input" id="other" name="other" required>
                </div>
              </div>
              <div class="form-col">
                <label class="form-label" for="priority">Priority:</label>
                <select class="form-select" id="priority" name="priority" [(ngModel)]="priority" required>
                  <option value="select subject">Select Priority:</option>
                  <option value="Low">Low</option>
                  <option value="Medium">Medium</option>
                  <option value="High">High</option>
                </select>
              </div>
              <div class="form-row">
                    <label class="form-label" for="description">Description:</label>
                    <textarea class="form-textarea" id="description" name="description" [(ngModel)]="description" required></textarea>
              </div>
              <button class="submit-button" type="submit">Submit Request</button>
              <button class="cancel-button" type="cancel" (click)="closeModal('ticket-form-container')">Cancel</button>
      </form>
  </div>
</div>

<!--Filter Form-->
<div *ngIf="showFilterModal" id="Filter-form-container" class="modal"  (click)="closeOnOutsideClick($event, 'Filter-form-container')">
  <div class="modal-content" (click)="$event.stopPropagation()">
      <span #filterModalContent class="close" (click)="closeModal('Filter-form-container')">&times;</span>
      <h1 class="form-title">Filter Tickets</h1>
      <h4 class="form-title2">Find the exact tickets you need quickly.</h4>
      <form class="form">
          <div class="form-row">
              <div class="form-col">
                <label class="form-label" for="category">Category:</label>
                <select class="form-select" id="category" name="category" [(ngModel)]="filterCategory">
                    <option value="select category">Select Category:</option>
                    <option value="Account Lockout">Account Lockout</option>
                    <option value="Network Problem">Network Problem</option>
                    <option value="Network Security Issue">Network Security Issue</option>
                    <option value="Hardware Issue">Hardware Issue</option>
                </select>
              </div>
              <div class="form-col">
                <label class="form-label" for="priority">Priority:</label>
                <select class="form-select" id="priority" name="priority" [(ngModel)]="filterPriority">
                    <option value="select subject">Select Priority:</option>
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>
              </div>
        </div>
        <div class="form-row">
            <div class="form-col">
              <label class="form-label" for="date-created">Date Created:</label>
              <input class="form-input" type="date" id="date-created" name="date-created" [(ngModel)]="filterDate">    
            </div>
            <div class="form-col">
              <label class="form-label" for="status">Status:</label>
              <select class="form-select" id="status" name="status" [(ngModel)]="filterStatus">
                  <option value="status type:">Select status:</option>
                  <option value="Pending">Pending</option>
                  <option value="In progress">In Progress</option>
              </select>
            </div>
        </div>
        <button class="submit-button" type="button" (click)="applyFilter()">Filter Tickets</button>
        <button class="cancel-button" type="button" (click)="clearFilter()">Clear</button>
      </form>
  </div>
</div>

<!--Ticket Details-->
<div *ngIf="showTicketDetailsModal" (click)="closeOnOutsideClick($event, 'ticket-details-container')" id="ticket-details-container" class="modal">
  <div class="modal-content" (click)="$event.stopPropagation()">
      <span class="close" (click)="closeModal('ticket-details-container')">&times;</span>
      <h1 class="form-title">Ticket Details</h1>
      <h4 class="form-title2">Comprehensive information about the ticket.</h4>
      <form class="form">
        <div class="form-row">
            <div class="form-col">
              <label class="form-label" for="subject">Subject:</label>
              <input class="form-input" type="text" id="subject" name="subject" [value]="selectedTicket?.title" readonly>
            </div>
            <div class="form-col">
              <label class="form-label" for="date-created">Date Created:</label>
              <input class="form-input" type="date" id="date-created" name="date-created" [value]="selectedTicket?.dateCreated" readonly>    
            </div>
          </div>
          <div class="form-row">
            <div class="form-col">
            <label class="form-label" for="category">Category:</label>
             <input class="form-input" type="text" id="category" name="category" [value]="selectedTicket?.category" readonly>
            </div>
            <div class="form-col">
            <label class="form-label" for="priority">Priority:</label>
            <input class="form-input" type="text" id="priority" name="priority" [value]="selectedTicket?.priority" readonly>
            </div>
          </div>
          <div class="form-row">
            <div class="form-col">
              <label class="form-label" for="technician">Technician:</label>
              <input class="form-input" type="text" id="technician" name="technician" [value]="(selectedTicket?.technician?.email || 'Unassigned')" readonly>
            </div>                      
            <div class="form-col">
            <label class="form-label" for="status">Status:</label>
            <input class="form-input" type="text" id="status" name="status" [value]="selectedTicket?.status" readonly>
            </div>
          </div>
          <div class="form-row">
            <label class="form-label" for="description">Description:</label>
            <textarea class="form-textarea" id="description" name="description" readonly>{{ selectedTicket?.description }}</textarea>
        </div>
      </form>
  </div>
</div>

  
  <!--Left Container for Profile, Dashboard and History-->
  <div class="leftcontainer">
      <div class="profile-container">
          <img src="../../assets/images/tempprofile.png" alt="Profile" class="tempprofile">
          <div class="userdata">
              <h4>Adrian Oraya</h4>
              <h4>Student</h4>
          </div>
      </div>
      <div class="line-division"></div>
      <div class="buttons-nav">
        <a onclick="window.location.href='/userdashboard'">
            <img src="../../assets/images/dashboardButton.png" class="dashboard" alt="Dashboard">
        </a>
        <a onclick="window.location.href='/userhistory'">
            <img src="../../assets/images/historyButton.png" class="history" alt="History">
        </a>
    </div>    
  </div>
  
  <!-- table for tickets-->
  <div class="cont-tickets">
    <table>
      <tr>
        <th class="color-priority"></th>
        <th>Priority</th>
        <th>Category</th>
        <th>Status</th>
        <th>Date Created</th>
        <th>Technician</th>
        <th></th>
      </tr>
    </table>
    <table class="tickets">
      <tr *ngFor="let ticket of filteredTickets" (click)="showTicketDetails(ticket.id)" data-modal="ticket-details-container" class="modal-buttons">
        <td [ngClass]="getPriorityColor(ticket.priority)"></td>
        <td class="priority">{{ ticket.priority }}</td>
        <td>{{ ticket.category }}</td>
        <td>{{ ticket.status }}</td>
        <td>{{ ticket.dateCreated }}</td>
        <td>
          <span *ngIf="ticket.technician?.email; else unassigned">{{ ticket.technician.email }}</span>
          <ng-template #unassigned>Unassigned</ng-template>
        </td>
        <td>
          <button class="vertical-ellipsis-button"  (click)="displayUpdateModal($event)">
            <span class="ellipsis">...</span>
          </button>
        </td>
      </tr>
    </table>
  </div>

  <!--footer-->
  <div class="footer">
      <p>Copyright © 2024</p>
  </div>

  </body>
</html>
