<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Ticketing System</title>
	<link href='https://fonts.googleapis.com/css?family=Jomhuria' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
	
</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar">
    <img src="../../assets/images/systemicon.png" alt="Ticketing System Icon" class="systemIcon">
    <div class="title">IT Ticketing System</div>
    <button class="Btn" (click)="logout()">
        <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
        <div class="text">Logout</div>
      </button>
</nav>
 <!-- Debugging State Indicators
<p>Filter Modal Open: {{ showFilterModal }}</p>
<p>Ticket Details Modal Open: {{ showTicketDetailsModal }}</p>
<p>Update Modal Open: {{ showUpdateModal }}</p> -->


<!-- (logo)Ticket Requests(Title) - (Button)Filter - (Searchbar)-->  
	   
		<div class="rightcontainer">
		  <div>
			<div class="title-container">
				<img src="../../assets/images/ticketrequests.png" alt="Ticket Requests" class="ticketrequests">
			</div>

			<div class="filter-search">
				<div class="filter-container">
					<button class="invisible-button modal-buttons" (click)="displayModal('Filter-form-container')" data-modal="Filter-form-container">
						<img src="../../assets/images/filterButton.png" class="filterButton" alt="Filter">
					  </button>
				</div>
				<div class="search-container">
					<div class="group">
						<svg viewBox="0 0 24 24" aria-hidden="true" class="icon">
						  <g>
							<path
							  d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
							></path>
						  </g>
						</svg>
						<input class="input" type="search" placeholder="Search requester or technician email" [(ngModel)]="searchEmail" (input)="applySearch()" />
					</div>
				</div>
			</div>
			
		  </div>
		</div>
		
<!--Left Container for Profile, Dashboard and History-->   
   <div class="leftcontainer">
	  <div class="profile-container" onclick="location.href='/adminprofile';">
		<img src="../../assets/images/tempprofile.png" alt="Profile" class="tempprofile">
		<div class="userdata">
		  <h4>{{ user?.firstName }} {{ user?.lastName }}</h4>
		  <h4>{{ user?.role }}</h4>
		</div>
	  </div>
	  <div class="line-division"></div>
	  <div class="buttons-nav">
		<a onclick="window.location.href='admindashboard'">
			<img src="../../assets/images/dashboardButton.png" class="dashboard" alt="Dashboard">
		</a>
		<a onclick="window.location.href='adminhistory'">
			<img src="../../assets/images/historyButton.png" class="history" alt="History">
		</a>
		<a onclick="window.location.href='adminanalytics'">
			<img src="../../assets/images/analyticsButton.png" class="analytics" alt="Analytics">
		</a>
		<!-- <a onclick="window.location.href='managetechnician'">
			<img src="../../assets/images/Technician.png" class="managetechnician" alt="managetechnician">
	  </a>
	  <a onclick="window.location.href='manageuser'">
		<img src="../../assets/images/User.png" class="manageuser" alt="manageuser">
  	</a>  -->
		</div>
	</div>
		
<!-- table for tickets -->
<div class="cont-tickets" *ngIf="tickets.length > 0">
    <table class="tickets">
        <thead>
            <tr>
                <th class="color-priority"></th>
                <th></th>
                <th>Priority</th>
                <th>Category</th>
                <th>Status</th>
                <th>Date Created</th>
                <th>Requester</th>
                <th>Technician</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ticket of filteredTickets" (click)="showTicketDetails(ticket.id)" data-modal="ticket-details-container" class="modal-buttons">
                <td [ngClass]="getPriorityColor(ticket.priority)"></td>
				<td>
					<input type="checkbox" 
							[disabled]="!ticket.technician"  
							[checked]="showResolveModal && ticketIdToResolve === ticket.id"  
							(click)="showResolveConfirmation(ticket, ticket.id, $event)"> 
				  </td>												  
                <td class="priority">{{ ticket.priority }}</td>
                <td>{{ ticket.category }}</td>
                <td>{{ ticket.status }}</td>
                <td>{{ ticket.dateCreated | date: 'MM/dd/yy' }}</td>
                <td>{{ ticket.student.email }}</td>
                <td>
                    <!-- Display technician name if assigned, otherwise show Unassigned button -->
                    <ng-container *ngIf="ticket.technician">
                        {{ ticket.technician.email }}
                    </ng-container>
                    <ng-container *ngIf="!ticket.technician">
					<!-- Open technician assignment popup -->
					<button class="unassigned-button" (click)="openAssignTechnicianPopup(ticket.id, $event)" data-modal="all-technician">Unassigned</button>
                    </ng-container>
                </td>
                <td>
                    <button class="vertical-ellipsis-button" (click)="displayUpdateModal(ticket.id, $event)" data-modal="update-form-container">
                        <span class="ellipsis">. . .</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="showResolveModal && ticketIdToResolve" class="modal"> 
	<div class="modal-content">
		<h2>
			Are you sure you want to resolve ticket #{{ ticketIdToResolve }}?
		</h2>
		<button class = "submit-button" (click)="markTicketResolved(ticketIdToResolve, $event)">Resolve Ticket</button>
		<button class="close-button" (click)="showResolveModal = false">Cancel</button> 
	</div>
</div>  

<!-- ETO UNG assign technician popup -->
<div class="modal" *ngIf="showTechnicianPopup">
    <div class="modal-content">
        <span class="close" (click)="closeTechnicianPopup()">&times;</span>
        <h2>Assign Technician</h2>
        <ul>
            <li *ngFor="let technician of technicians" (click)="assignTechnician(technician)">
                {{ technician.firstName }} {{ technician.lastName }} - Skillset: {{ technician.skillSet }}
            </li>
        </ul>
        <button class="close-button" (click)="closeTechnicianPopup()">Close</button>
    </div>
</div>

  

<!--FORMS-->

<!--buttons for each form-->
	<!--Filter Form
			<button class="filter-button red-button" onclick="displayModal('Filter-form-container')" style="width:auto;">Filter</button>
	----Ticket Details
		 	<button onclick="displayModal('ticket-details-container')" style="width:auto;">Ticket Details:</button>
	---- Ticket Form
		  	<button class="red-button" onclick="document.getElementById('update-form-container').style.display='block'" style="width:auto;">Update Ticket</button>
		-->

<!--Filter Form-->
<div *ngIf="showFilterModal" id="Filter-form-container" class="modal"  (click)="closeOnOutsideClick($event, 'Filter-form-container')">
	<div class="modal-content" (click)="$event.stopPropagation()">
		<span #filterModalContent class="close" (click)="closeModal('Filter-form-container')">&times;</span>
		<h1 class="form-title">Filter Tickets</h1>
		<h4 class="form-title2">Find the exact tickets you need quickly.</h4>
		<form class="form">
			<div class="form-row">
				<div class="form-col">
				  <label class="form-label" for="category">Category:</label>
				  <select class="form-select" id="category" name="category" [(ngModel)]="filterCategory">
					  <option value="" disabled selected>Select Category:</option>
					  <option value="Account Lockout">Account Lockout</option>
					  <option value="Network Problem">Network Problem</option>
					  <option value="Network Security Issue">Network Security Issue</option>
					  <option value="Hardware Issue">Hardware Issue</option>
				  </select>
				</div>
				<div class="form-col">
				  <label class="form-label" for="priority">Priority:</label>
				  <select class="form-select" id="priority" name="priority" [(ngModel)]="filterPriority">
					  <option value="" disabled selected>Select Priority:</option>
					  <option value="Low">Low</option>
					  <option value="Medium">Medium</option>
					  <option value="High">High</option>
				  </select>
				</div>
		  </div>
		  <div class="form-row">
			  <div class="form-col">
				<label class="form-label" for="date-created">Date Created:</label>
				<input class="form-input" type="date" id="date-created" name="date-created" [(ngModel)]="filterDate">    
			  </div>
			  <div class="form-col">
				<label class="form-label" for="status">Status:</label>
				<select class="form-select" id="status" name="status" [(ngModel)]="filterStatus">
					<option value="" disabled selected>Select status:</option>
					<option value="Pending">Pending</option>
					<option value="In progress">In Progress</option>
				</select>
			  </div>
		  </div>
		  <button class="submit-button" type="button" [disabled]="!hasFilterValue()" (click)="applyFilter()">Filter Tickets</button>
		  <button class="cancel-button" type="button" (click)="clearFilter()">Clear</button>
		</form>
	</div>
  </div>
  

<!--Ticket Details Form-->	

<!--Ticket Details-->
<!--Ticket Details-->
<div *ngIf="showTicketDetailsModal" (click)="closeOnOutsideClick($event, 'ticket-details-container')" id="ticket-details-container" class="modal">
	<div class="modal-content" (click)="$event.stopPropagation()">
		<span class="close" (click)="closeModal('ticket-details-container')">&times;</span>
		<h1 class="form-title">Ticket Details</h1>
		<h4 class="form-title2">Comprehensive information about the ticket.</h4>
		<form class="form" action="/submit_ticket.php" method="post">
		  <div class="form-row">
			  <div class="form-col">
				<label class="form-label" for="subject">Subject:</label>
				<input class="form-input" type="text" id="subject" name="subject" [value]="selectedTicket?.title" readonly>
			  </div>
			  <div class="form-col">
				<label class="form-label" for="date-created">Date Created:</label>
				<input class="form-input" type="date" id="date-created" name="date-created" [value]="selectedTicket?.dateCreated" readonly>    
			  </div>
			</div>
			<div class="form-row">
			  <div class="form-col">
			  <label class="form-label" for="category">Category:</label>
			   <input class="form-input" type="text" id="category" name="category" [value]="selectedTicket?.category" readonly>
			  </div>
			  <div class="form-col">
			  <label class="form-label" for="priority">Priority:</label>
			  <input class="form-input" type="text" id="priority" name="priority" [value]="selectedTicket?.priority" readonly>
			  </div>
			</div>
			<div class="form-row">
				<div class="form-col">
					<label class="form-label" for="technician">Requester:</label>
					<input class="form-input" type="text" id="technician" name="technician" [value]="selectedTicket?.student?.email" readonly>
				  </div> 
			  <div class="form-col">
				<label class="form-label" for="technician">Technician:</label>
				<input class="form-input" type="text" id="technician" name="technician" [value]="(selectedTicket?.technician?.email || 'Unassigned')" readonly>
			  </div>                      
			  <div class="form-col">
			  <label class="form-label" for="status">Status:</label>
			  <input class="form-input" type="text" id="status" name="status" [value]="selectedTicket?.status" readonly>
			  </div>
			</div>
			<div class="form-row">
			  <label class="form-label" for="description">Description:</label>
			  <textarea class="form-textarea" id="description" name="description" readonly>{{ selectedTicket?.description }}</textarea>
		  </div>
		</form>
	</div>
  </div>

<!--Update Tickets Form-->		
<div *ngIf="showUpdateModal" id="update-form-container"  class="modal" (click)="closeOnOutsideClick($event, 'update-form-container')">
	<div #updateModalContent class="modal-content" (click)="$event.stopPropagation()">
		<span class="close" (click)="closeModal('update-form-container')">&times;</span>
		<h1 class="form-title">Update Ticket</h1>
		<h4 class="form-title2">Make changes to keep the ticket up-to-date.</h4>
		<form class="form" *ngIf="selectedTicket" (ngSubmit)="updateTicket(selectedTicket)">
				<div class="form-row">
					<label class="form-label" for="subject">Subject:</label>
					<select class="form-select" id="subject" name="subject" [(ngModel)]="selectedTicket.title">
						<option value="Blackboard Account failed log-in">Blackboard Account failed log-in</option>
						<option value="Mymapua Account failed log-in">Mymapua Account failed log-in</option>
						<option value="Wi-fi Connectivity Problem">Wi-fi Connectivity Problem</option>
						<option value="Network Security Concern">Network Security Concern</option>
						<option value="E-mail: Spam Filtering">E-mail: Spam Filtering</option>
						<option value="E-mail: Security">E-mail: Security</option>
						<option value="PC Malfunctioning">PC Malfunctioning</option>
						<option value="Keyboard not working">Keyboard not working</option>
						<option value="Monitor not turning on">Monitor not turning on</option>
					</select>
				</div>
				<div class="form-row">
					  <div class="form-col">
						<label class="form-label" for="category">Category:</label>
						<select class="form-select" id="category" name="category" [(ngModel)]="selectedTicket.category">
							<option value="Account Lockout">Account Lockout</option>
							<option value="Network Problem">Network Problem</option>
							<option value="Network Security Issue">Network Security Issue</option>
							<option value="Hardware Issue">Hardware Issue</option>
						</select>
					  </div>
					  <div class="form-col">
						<label class="form-label" for="priority">Priority:</label>
						<select class="form-select" id="priority" name="priority" [(ngModel)]="selectedTicket.priority">
						  <option value="Low">Low</option>
						  <option value="Medium">Medium</option>
						  <option value="High">High</option>
						</select>
					  </div>
					</div>
					<div class="form-row">
					  <!-- <div class="form-col">
						<label class="form-label" for="status">Status:</label>
							<select class="form-select" id="status" name="status" [(ngModel)]="selectedTicket.status">
								  <option value="status type:">Select a status:</option>
								  <option value="On Hold">On Hold</option>
								  <option value="Pending">Pending</option>
								  <option value="In Progress">In Progress</option>
								  <option value="Resolved">Resolved</option>
							</select>
					  </div> -->
					  <div class="form-col">
						<label class="form-label" for="technician">Technician:</label>
						<select class="form-select" id="technician" name="technician" [(ngModel)]="selectedTicket.technician.id">
							<option *ngFor="let technician of technicians" [value]="technician.id">{{ technician.email }}</option>
						</select>

					  </div>
					  <div class="form-col">
						<button class="reject-button red-button" type="button" (click)="markTicketRejected(selectedTicket.id)">Reject</button>
					  </div>
					</div>
			<button class="submit-button" type="submit">Update Ticket</button>
			<button class="cancel-button" type="button" (click)="closeModal('update-form-container')">Cancel</button>
	   </form>
	</div>
</div>

<!-- FOR FORMS handling of modals -->
</body>
</html>
