<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Ticketing System</title>
	<link href='https://fonts.googleapis.com/css?family=Jomhuria' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
	
</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar">
    <img src="../../assets/images/systemicon.png" alt="Ticketing System Icon" class="systemIcon">
    <div class="title">IT Ticketing System</div>
    <div class="buttons">
        <a href=""><img src="../../assets/images/bellIcon.png" class="bellIcon" alt="Bell Icon"></a>
        <a href=""><img src="../../assets/images/exitIcon.png" class="exitIcon" alt="Exit Icon"></a>
        <a href=""><img src="../../assets/images/userImage.png" class="userImage" alt="User Icon"></a>
    </div>
</nav>
 <!-- Debugging State Indicators
<p>Filter Modal Open: {{ showFilterModal }}</p>
<p>Ticket Details Modal Open: {{ showTicketDetailsModal }}</p>
<p>Update Modal Open: {{ showUpdateModal }}</p> -->


<!-- (logo)Ticket Requests(Title) - (Button)Filter - (Searchbar)-->  
	   
			<table class="rightcontainer">
		  <tr>
			<td class="title-container">
				<img src="../../assets/images/ticketrequests.png" alt="Ticket Requests" class="ticketrequests">
			</td>
			<td class="filter-container">
			         <button class="invisible-button modal-buttons" (click)="displayModal('Filter-form-container')" data-modal="Filter-form-container">
					<img src="../../assets/images/filterButton.png" class="filterButton" alt="Filter">
				  </button>
			</td>
			<td class="search-container">
				<input type="text" id="search" placeholder="" style="width: 454px; height: 50px;">
				<button class="search-button red-button">Search</button>
			</td>
		  </tr>
		</table>
		
<!--Left Container for Profile, Dashboard and History-->   
   <div class="leftcontainer">
	  <div class="profile-container">
		<img src="../../assets/images/tempprofile.png" alt="Profile" class="tempprofile">
		<div class="userdata">
		  <h4>Adrian Oraya</h4>
		  <h4>Admin</h4>
		</div>
	  </div>
	  <div class="line-division"></div>
	  <div class="buttons-nav">
		<a href=""><img src="../../assets/images/dashboardButton.png" class="dashboard" alt="Dashboard"></a>
		<a href=""><img src="../../assets/images/historyButton.png" class="history" alt="History"></a>
		<a href=""><img src="../../assets/images/analyticsButton.png" class="analytics" alt="Analytics"></a>
		</div>
	</div>
		
<!-- table for tickets -->
<div class="cont-tickets" *ngIf="tickets.length > 0">
    <table>
        <thead>
            <tr>
                <th class="color-priority"></th>
                <th></th>
                <th>Priority</th>
                <th>Category</th>
                <th>Status</th>
                <th>Date Created</th>
                <th>Requester</th>
                <th>Technician</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ticket of tickets" (click)="showTicketDetails(ticket.id)" data-modal="ticket-details-container" class="modal-buttons">
                <td [ngClass]="getPriorityColor(ticket.priority)"></td>
                <td><input type="checkbox"></td>
                <td class="priority">{{ ticket.priority }}</td>
                <td>{{ ticket.category }}</td>
                <td>{{ ticket.status }}</td>
                <td>{{ ticket.dateCreated | date: 'MM/dd/yy' }}</td>
                <td>{{ ticket.student.email }}</td>
                <td>
                    <!-- Display technician name if assigned, otherwise show Unassigned button -->
                    <ng-container *ngIf="ticket.technician">
                        {{ ticket.technician.email }}
                    </ng-container>
                    <ng-container *ngIf="!ticket.technician">
					<!-- Open technician assignment popup -->
					<button class="unassigned-button" (click)="openAssignTechnicianPopup(ticket.id, $event)" data-modal="all-technician">Unassigned</button>
                    </ng-container>
                </td>
                <td>
                    <button class="vertical-ellipsis-button" (click)="displayUpdateModal($event)" data-modal="update-form-container">
                        <span class="ellipsis">...</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal" *ngIf="showTechnicianPopup">
    <div class="modal-content">
        <span class="close" (click)="closeTechnicianPopup()">&times;</span>
        <h2>Assign Technician</h2>
        <ul>
            <li *ngFor="let technician of technicians" (click)="assignTechnician(technician)">
                {{ technician.firstName }} {{ technician.lastName }} - Availability: {{ technician.availability }} - Skillset: {{ technician.skillSet }}
            </li>
        </ul>
        <button class="close-button" (click)="closeTechnicianPopup()">Close</button>
    </div>
</div>

  

<!--FORMS-->

<!--buttons for each form-->
	<!--Filter Form
			<button class="filter-button red-button" onclick="displayModal('Filter-form-container')" style="width:auto;">Filter</button>
	----Ticket Details
		 	<button onclick="displayModal('ticket-details-container')" style="width:auto;">Ticket Details:</button>
	---- Ticket Form
		  	<button class="red-button" onclick="document.getElementById('update-form-container').style.display='block'" style="width:auto;">Update Ticket</button>
		-->

<!--Filter Tickets Form-->	

<div *ngIf="showFilterModal" id="Filter-form-container" class="modal"  (click)="closeOnOutsideClick($event, 'Filter-form-container')">
	<div class="modal-content" (click)="$event.stopPropagation()">
		<span #filterModalContent class="close" (click)="closeModal('Filter-form-container')">&times;</span>
		<h1 class="form-title">Filter Tickets</h1>
		<h4 class="form-title2">Find the exact tickets you need quickly.</h4>
		<form class="form" action="/submit_ticket.php" method="post">
			<div class="form-row">
			  <div class="form-col">
				<label class="form-label" for="category">Category:</label>
				<select class="form-select" id="category" name="category" required>
					<option value="select category">Select Category:</option>
					<option value="Account Lockout">Account Lockout</option>
					<option value="Account Lockout">Network Problem</option>
					<option value="Network Problem">Network Security Issue</option>
					<option value="Network Security">Hardware Issue</option>
				</select>
			  </div>
			  <div class="form-col">
				<label class="form-label" for="priority">Priority:</label>
				<select class="form-select" id="priority" name="priority" required>
				  <option value="select subject">Select Priority:</option>
				  <option value="Low">Low</option>
				  <option value="Medium">Medium</option>
				  <option value="High">High</option>
				</select>
			  </div>
			</div>
			<div class="form-row">
				<div class="form-col">
					<label class="form-label" for="date-created">Date Created:</label>
					<input class="form-input" type="date" id="date-created" name="date-created">    
				</div>
				<div class="form-col">
					<label class="form-label" for="status">Status:</label>
					<select class="form-select" id="status" name="status" required>
						  <option value="status type:">Select status:</option>
						  <option value="On Hold">Low</option>
						  <option value="Pending">Medium</option>
						  <option value="In Progress">In Progress</option>
						  <option value="Resolved">Resolved</option>
					</select>
				</div>
			</div>
				<div class="form-row">
					  <div class="form-col">
						<label class="form-label" for="technician">Technician:</label>
						<select class="form-select" id="technician" name="technician" required>
						  <option value="select subject">Select Technician:</option>
						  <option value="Mang Kanor">Mang Kanor</option>
						  <option value="Mang Edgar">Mang Edgar</option>
						  <option value="Unassigned">Unassigned</option>
						</select>
					  </div>
					  <div class="form-col">
						<label class="form-label" for="requester">Requester:</label>
							<select class="form-select" id="requester" name="requester" required>
								  <option value="status type:">Select Requester:</option>
								  <option value="Adrian Oraya">Adrian Oraya</option>
								  <option value="Kurt Rumbaua">Kurt Rumbaua</option>
								  <option value="Josh Jacala">Josh Jacala</option>
								  <option value="Griel Mangahis">Griel Mangahis</option>
								  <option value="Mackleine Espino">Mackleine Espino</option>
							</select>
					  </div>
					</div>
			<button class="submit-button" type="submit">Filter Tickets</button>
			<button class="cancel-button" type="button" (click)="closeModal('Filter-form-container')">Cancel</button>
		</form>
	</div>
</div>

<!--Ticket Details Form-->	

<!--Updated Ticket Details-->
<!--Ticket Details-->
<div *ngIf="showTicketDetailsModal" (click)="closeOnOutsideClick($event, 'ticket-details-container')" id="ticket-details-container" class="modal">
	<div class="modal-content" (click)="$event.stopPropagation()">
		<span class="close" (click)="closeModal('ticket-details-container')">&times;</span>
		<h1 class="form-title">Ticket Details</h1>
		<h4 class="form-title2">Comprehensive information about the ticket.</h4>
		<form class="form" action="/submit_ticket.php" method="post">
		  <div class="form-row">
			  <div class="form-col">
				<label class="form-label" for="subject">Subject:</label>
				<input class="form-input" type="text" id="subject" name="subject" [value]="selectedTicket?.title" readonly>
			  </div>
			  <div class="form-col">
				<label class="form-label" for="date-created">Date Created:</label>
				<input class="form-input" type="date" id="date-created" name="date-created" [value]="selectedTicket?.dateCreated" readonly>    
			  </div>
			</div>
			<div class="form-row">
			  <div class="form-col">
			  <label class="form-label" for="category">Category:</label>
			   <input class="form-input" type="text" id="category" name="category" [value]="selectedTicket?.category" readonly>
			  </div>
			  <div class="form-col">
			  <label class="form-label" for="priority">Priority:</label>
			  <input class="form-input" type="text" id="priority" name="priority" [value]="selectedTicket?.priority" readonly>
			  </div>
			</div>
			<div class="form-row">
				<div class="form-col">
					<label class="form-label" for="technician">Requester:</label>
					<input class="form-input" type="text" id="technician" name="technician" [value]="selectedTicket?.student?.email" readonly>
				  </div> 
			  <div class="form-col">
				<label class="form-label" for="technician">Technician:</label>
				<input class="form-input" type="text" id="technician" name="technician" [value]="(selectedTicket?.technician?.email || 'Unassigned')" readonly>
			  </div>                      
			  <div class="form-col">
			  <label class="form-label" for="status">Status:</label>
			  <input class="form-input" type="text" id="status" name="status" [value]="selectedTicket?.status" readonly>
			  </div>
			</div>
			<div class="form-row">
			  <label class="form-label" for="description">Description:</label>
			  <textarea class="form-textarea" id="description" name="description" readonly>{{ selectedTicket?.description }}</textarea>
		  </div>
		</form>
	</div>
  </div>

<!--Update Tickets Form-->		
 
<div *ngIf="showUpdateModal" id="update-form-container"  class="modal" (click)="closeOnOutsideClick($event, 'update-form-container')">
	<div #updateModalContent class="modal-content" (click)="$event.stopPropagation()">
		<span class="close" (click)="closeModal('update-form-container')">&times;</span>
		<h1 class="form-title">Update Ticket</h1>
		<h4 class="form-title2">Make changes to keep the ticket up-to-date.</h4>
		<form class="form" action="/submit_ticket.php" method="post">
		   
				<div class="form-row">
					<label class="form-label" for="subject">Subject:</label>
					<select class="form-select" id="subject" name="subject" required>
						<option value="select subject">Select Subject:</option>
						<option value="Blackboard Account">Blackboard Account failed log-in</option>
						<option value="Mymapua Account">Mymapua Account failed log-in</option>
						<option value="Wi-Fi connectiviy">Wi-fi Connectivity Problem</option>
						<option value="Network Security">Network Security Concern</option>
						<option value="Spam">E-mail: Spam Filtering</option>
						<option value="Security">E-mail: Security</option>
						<option value="Pc Malfunctioning">PC Malfunctioning</option>
						<option value="Keyboard">Keyboard not working</option>
						<option value="Monitor">Monitor not turning on</option>
					</select>
				</div>
				<div class="form-row">
					  <div class="form-col">
						<label class="form-label" for="category">Category:</label>
						<select class="form-select" id="category" name="category" required>
							<option value="select category">Select Category:</option>
							<option value="Account Lockout">Account Lockout</option>
							<option value="Account Lockout">Network Problem</option>
							<option value="Network Problem">Network Security Issue</option>
							<option value="Network Security">Hardware Issue</option>
						</select>
					  </div>
					  <div class="form-col">
						<label class="form-label" for="priority">Priority:</label>
						<select class="form-select" id="priority" name="priority" required>
						  <option value="select subject">Select Priority:</option>
						  <option value="Low">Low</option>
						  <option value="Medium">Medium</option>
						  <option value="High">High</option>
						</select>
					  </div>
					</div>
					<div class="form-row">
					  <div class="form-col">
						<label class="form-label" for="technician">Technician:</label>
						<select class="form-select" id="technician" name="technician" required>
						  <option value="select subject">Select Technician:</option>
						  <option value="Mang Kanor">Mang Kanor</option>
						  <option value="Mang Edgar">Mang Edgar</option>
						  <option value="Unassigned">Unassigned</option>
						</select>
					  </div>
					  <div class="form-col">
						<label class="form-label" for="status">Status:</label>
							<select class="form-select" id="status" name="status" required>
								  <option value="status type:">Select a status:</option>
								  <option value="On Hold">Low</option>
								  <option value="Pending">Medium</option>
								  <option value="In Progress">In Progress</option>
								  <option value="Resolved">Resolved</option>
							</select>
					  </div>
					</div>
			
			<button class="submit-button" type="submit">Update Ticket</button>
			<button class="cancel-button" type="button" (click)="closeModal('update-form-container')">Cancel</button>
	   </form>
	</div>
</div>

<!--footer-->
    <div class="footer">
        <p>Copyright © 2024</p>
    </div>

<!-- FOR FORMS handling of modals -->
</body>
</html>
