<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Ticketing System</title>
    <link href='https://fonts.googleapis.com/css?family=Jomhuria' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar">
    <img src="../../assets/images/systemicon.png" alt="systemIcon" class="Ticketing System Icon">
    <div class="title">IT Ticketing System</div>
    <div class="buttons">
        <a href=""><img src="../../assets/images/bellIcon.png" class="bellIcon" alt="Bell Icon"></a>
        <a (click)="logout()"><img src="../../assets/images/exitIcon.png" class="exitIcon" alt="Exit Icon"></a>
        <a href=""><img src="../../assets/images/userImage.png" class="userImage" alt="User Icon"></a>
    </div>
</nav>

<!--Left Container for Profile, Dashboard and History-->   
    <div class="leftcontainer">
      <div class="profile-container">
      <img src="../../assets/images/tempprofile.png" alt="Profile" class="tempprofile">
      <div class="userdata">
        <h4>{{ user?.firstName }} {{ user?.lastName }}</h4>
        <h4>{{ user?.role }}</h4>
      </div>
    </div>
    <div class="line-division"></div>
    <div class="buttons-nav">
      <a onclick="window.location.href='admindashboard'">
        <img src="../../assets/images/dashboardButton.png" class="dashboard" alt="Dashboard">
      </a>
      <a onclick="window.location.href='adminhistory'">
        <img src="../../assets/images/historyButton.png" class="history" alt="History">
      </a>
      <a onclick="window.location.href='adminanalytics'">
        <img src="../../assets/images/analyticsButton.png" class="analytics" alt="Analytics">
      </a>
    </div>
  </div>

    <!-- (logo)All Tickets(Title) - (Buttton)AddTicket - (Button)Filter - (Searchbar)-->  
	   
			<table class="rightcontainer">
        <tr>
        <td class="title-container">
          <img src="../../assets/images/history.png" alt="History" class="history">
        </td>
        <td class="filter-container">
          <a href=""><img src="../../assets/images/filterButton.png" class="filterButton" alt="Filter"></a>
        </td>
        <td class="search-container">
            <input type="text" id="search" placeholder="" [(ngModel)]="searchEmail" (input)="applySearch()" style="width: 454px; height: 50px;">
            <button class="search-button red-button">Search</button>
        </td>
        </tr>
      </table>

      <!-- table for tickets-->
      <div class="cont-tickets">
        <table>
            <tr>
              <th class="color-priority"></th>
              <th>Priority</th>
              <th>Category</th>
              <th>Date Created</th>
              <th>Date Resolved</th>
              <th>Requester</th>
              <th>Technician</th>
              <th></th>
              </tr>
            
          </table>
          <table class="tickets">
            <tr *ngFor="let ticket of filteredTickets"  (click)="showTicketDetails(ticket.id)" >
              <td [ngClass]="getPriorityColor(ticket.priority)"></td>
              <td class="priority">{{ ticket.priority }}</td>
              <td>{{ ticket.category }}</td>
              <td>{{ ticket.dateCreated }}</td>
              <td>{{ ticket.dateResolved }}</td>
              <td>{{ ticket.student.email }}</td>
              <td>{{ ticket.technician.email }}</td>
              <td>
                <button class="vertical-ellipsis-button" data-modal="update-form-container" (click)="displayUpdateModal($event)">
                  <span class="ellipsis">...</span>
                </button>
                <!-- <button (click)="showTicketDetails(ticket)">View Details</button> -->
              </td>
            </tr>
          </table>
      </div>

      <!--Ticket Details-->
      <div *ngIf="showTicketDetailsModal" (click)="closeOnOutsideClick($event, 'ticket-details-container')" id="ticket-details-container" class="modal">
        <div class="modal-content" (click)="$event.stopPropagation()">
            <span class="close" (click)="closeModal('ticket-details-container')">&times;</span>
            <h1 class="form-title">Ticket Details</h1>
            <h4 class="form-title2">Comprehensive information about the ticket.</h4>
            <form class="form">
              <div class="form-row">
                  <div class="form-col">
                    <label class="form-label" for="subject">Subject:</label>
                    <input class="form-input" type="text" id="subject" name="subject" [value]="selectedTicket?.title" readonly>
                  </div>
                  <div class="form-col">
                    <label class="form-label" for="date-created">Date Created:</label>
                    <input class="form-input" type="date" id="date-created" name="date-created" [value]="selectedTicket?.dateCreated" readonly>    
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-col">
                  <label class="form-label" for="category">Category:</label>
                  <input class="form-input" type="text" id="category" name="category" [value]="selectedTicket?.category" readonly>
                  </div>
                  <div class="form-col">
                  <label class="form-label" for="priority">Priority:</label>
                  <input class="form-input" type="text" id="priority" name="priority" [value]="selectedTicket?.priority" readonly>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-col">
                    <label class="form-label" for="technician">Technician:</label>
                    <input class="form-input" type="text" id="technician" name="technician" [value]="(selectedTicket?.technician?.email || 'Unassigned')" readonly>
                  </div>                      
                  <div class="form-col">
                  <label class="form-label" for="status">Status:</label>
                  <input class="form-input" type="text" id="status" name="status" [value]="selectedTicket?.status" readonly>
                  </div>
                </div>
                <div class="form-row">
                  <label class="form-label" for="description">Description:</label>
                  <textarea class="form-textarea" id="description" name="description" readonly>{{ selectedTicket?.description }}</textarea>
              </div>
            </form>
        </div>
      </div>

</body>
</html>
