<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Ticketing System</title>
    <link href='https://fonts.googleapis.com/css?family=Jomhuria' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<body>

<!-- Navigation Bar -->
<nav class="navbar">
    <img src="../../assets/images/systemicon.png" alt="systemIcon" class="Ticketing System Icon">
    <div class="title">IT Ticketing System</div>
    <div class="buttons">
        <a href=""><img src="../../assets/images/bellIcon.png" class="bellIcon" alt="Bell Icon"></a>
        <a href=""><img src="../../assets/images/exitIcon.png" class="exitIcon" alt="Exit Icon"></a>
        <a href=""><img src="../../assets/images/userImage.png" class="userImage" alt="User Icon"></a>
    </div>
</nav>

<!--Left Container for Profile, Dashboard and History-->   
    <div class="leftcontainer">
      <div class="profile-container">
      <img src="../../assets/images/tempprofile.png" alt="Profile" class="tempprofile">
      <div class="userdata">
        <h4>Adrian Oraya</h4>
        <h4>Admin</h4>
      </div>
    </div>
    <div class="line-division"></div>
    <div class="buttons-nav">
      <a href=""><img src="../../assets/images/dashboardButton.png" class="dashboard" alt="Dashboard"></a>
      <a href=""><img src="../../assets/images/historyButton.png" class="history" alt="History"></a>
      <a href=""><img src="../../assets/images/analyticsButton.png" class="analytics" alt="Analytics"></a>
    </div>
  </div>

    <!-- (logo)All Tickets(Title) - (Buttton)AddTicket - (Button)Filter - (Searchbar)-->  
	   
			<table class="rightcontainer">
        <tr>
        <td class="title-container">
          <img src="../../assets/images/history.png" alt="History" class="history">
        </td>
        <td class="filter-container">
          <a href=""><img src="../../assets/images/filterButton.png" class="filterButton" alt="Filter"></a>
        </td>
        <td class="search-container">
            <input type="text" id="search" placeholder="" style="width: 454px; height: 50px;">
            <button class="search-button red-button">Search</button>
        </td>
        </tr>
      </table>
</body>
</html><!-- table for tickets-->
<div class="cont-tickets">
    <table>
        <tr>
          <th class="color-priority"></th>
          <th>Priority</th>
          <th>Category</th>
          <th>Date Finished</th>
          <th>Date Created</th>
          <th>Requester</th>
          <th>Technician</th>
          <th></th>
          </tr>
        
      </table>
        <table class="tickets">
          <tr>
          <td class="color-high"></td>
          <td class="priority">High</td>
          <td>Pe Malfunction</td>
          <td>03/22/24</td>
          <td>03/20/24</td>
          <td>Adrian Oraya</td>
          <td>Mang Kanor</td>
          <td>
            <button class="vertical-ellipsis-button">
              <span class="ellipsis">...</span>
            </button>
            </td>
        </tr>
        <tr>
          <td class="color-high"></td>
          <td class="priority">High</td>
          <td>Network Issues</td>
          <td>03/22/24</td>
          <td>03/20/24</td>
          <td>Adrian Oraya</td>
          <td>Mang Kanor</td>
          <td>
            <button class="vertical-ellipsis-button">
              <span class="ellipsis">...</span>
            </button>
            </td>
        </tr>
        <tr>
          <td class="color-high"></td>
          <td class="priority">High</td>
          <td>Password reset</td>
          <td>03/22/24</td>
          <td>03/20/24</td>
          <td>Adrian Oraya</td>
          <td>Mang Kanor</td>
          <td>
            <button class="vertical-ellipsis-button">
              <span class="ellipsis">...</span>
            </button>
            </td>
        </tr>
        <tr>
          <td class="color-med"></td>
          <td class="priority">Medium</td>
          <td>Pc Malfunction</td>
          <td>03/22/24</td>
          <td>03/20/24</td>
          <td>Adrian Oraya</td>
          <td>Mang Kanor</td>
          <td>
            <button class="vertical-ellipsis-button">
              <span class="ellipsis">...</span>
            </button>
            </td>
        </tr>
        <tr>
          <td class="color-med"></td>
          <td class="priority">Medium</td>
          <td>Pc Malfunction</td>
          <td>03/22/24</td>
          <td>03/20/24</td>
          <td>Adrian Oraya</td>
          <td>Mang Kanor</td>
          <td>
            <button class="vertical-ellipsis-button">
              <span class="ellipsis">...</span>
            </button>
            </td>
        </tr>
        <tr>
          <td class="color-low"></td>
          <td class="priority">Low</td>
          <td>Password reset</td>
          <td>03/22/24</td>
          <td>03/20/24</td>
          <td>Adrian Oraya</td>
          <td>Mang Kanor</td>
          <td>
            <button class="vertical-ellipsis-button">
              <span class="ellipsis">...</span>
            </button>
            </td>
        </tr>
        <tr>
          <td class="color-low"></td>
          <td class="priority">Low</td>
          <td>Pc Malfunction</td>
          <td>03/22/24</td>
          <td>03/20/24</td>
          <td>Adrian Oraya</td>
          <td>Mang Kanor</td>
          <td>
            <button class="vertical-ellipsis-button">
              <span class="ellipsis">...</span>
            </button>
            </td>
        </tr>
      </table>
  </div>
